<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Boston Price Predication </title>
    </head>
    <body style="background-color:powderblue;"> 
        <h1> Boston Hose Price Predication </h1>

        <div> 
            <form method="post" action="/predict">
                <label> RM </label> <input type="text" name="rm" id="rm"></input></br> <br>
                <label> PTRATIO </label> <input type="text" name="ptratio" id="ptratio"></input></br> <br>
                <label> LSTAT </label> <input type="text" name="lstat" id="lstat"></input></br> <br>
                <label> RAD </label> <input type="text" name="rad" id="rad"></input></br> <br>
                <label> CHAS </label> <input type="text" name="chas" id="chas"></input></br> <br>
                </br> <input type="submit" value="Predict">
            </form>
        </div>
    </body> 
</html>